/*Form*/
.radio_form label:first-of-type{
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}
.radio_form label:last-of-type{
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}
.radio_form input[type="radio"], input[type="button"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }
.radio_form {
    display: inline-grid;
    width: 100%;
}
.inline-grid-two-cols {
    grid-template-columns: 1fr 1fr;
}
.inline-grid-three-cols {
    grid-template-columns: 1fr 1fr 1fr;
}
.inline-grid-five-cols {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.radio_form label {
    /* display: inline-block; */
    margin: 0;
    text-align: center;
    padding: 10px 5px;
    border: 1px solid #aaa;
}
.radio_form input:checked+label {
    background-color:#e3e3e3;
    border-color: #c3c3c3;
}
.radio_form label:hover {
    background-color: #dfd;
  }

  .no-checked-color input:checked+label{
    background-color: white;
    border-color: #aaa;
  }