{% extends "base.html" %}

{% block content %}

{% macro wrap_label(field) -%}
{{ field.label(class_="label")}}
{{ field }}
    <!-- <label class="label">
        {{ field }}
    </label> -->
{%- endmacro %}

<div class="column is-8 is-offset-2">  
    <div class="block control">
        <form method="POST" name="url_form" action="/index">
            <!-- {% for field in form %}
                {{ field.label(class_='label') }}
                {{ field(class_='control') }}
            {% endfor %} -->
            <div class="columns block">
                <div class="column is-half">
                    {{ wrap_label(form.phrase1) }}
                    {{ wrap_label(form.positioning1) }}
                    <div class="field is-horizontal">
                        {{ wrap_label(form.color1)}}
                    </div>
                </div>
                <div class="column is-half">
                    {{ wrap_label(form.phrase2) }}
                    {{ wrap_label(form.positioning2) }}
                    {{ wrap_label(form.color2)}}
                </div>
            </div>

            <div class="field">
                {{ wrap_label(form.all_names) }}
                {{ wrap_label(form.only_indepedent) }}
                {{ wrap_label(form.only_official) }}
            </div>

            <div class="control">
                <button class="button is-primary">Submit</button>
              </div>

        </form>
    </div>
    
    <!-- <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <input class="input" type="text" placeholder="Text input" list="test">
        </div>
        <datalist id="test">
            <option value="Edge">
            <option value="Firefox">
            <option value="Chrome">
            <option value="Opera">
            <option value="Safari">
        </datalist>
    </div> -->
    
    <div class="block">
        <div name="static_map_container">
            {{ map_static | safe}}
        </div>

    </div>

    <div class="block">
        <div class = "is-12"id = "map_container" name="map_container">
            {{ map_dynamic | safe}}
        </div>
    </div>

</div>

{% endblock %}